<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      DSN NOW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-item-group *ngFor="let site of sites" color="dark">
    <ion-item-divider color="medium">{{site.friendlyName}}</ion-item-divider>
    <ion-list *ngFor="let dish of site.dishes">
      <ion-item (click)="goDishDetails(dish)" detail=true color="dark">
        <ion-thumbnail slot="start">
          <img src="assets/dish-34-blue.png">
        </ion-thumbnail>
        <ion-label>
          <h2>{{dish.target | targetName }}</h2>
          <p>{{dish.friendlyName}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>