<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{dish?.friendlyName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-segment (ionChange)="segmentChanged($event)" *ngIf="targets.length > 1" [(ngModel)]="targetIndex">
    <ion-segment-button value="{{i}}" *ngFor="let craft of targets; index as i">
      <ion-label>{{craft?.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col>Name:</ion-col>
      <ion-col>{{target?.name | spacecraft}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Range:</ion-col>
      <ion-col>{{target | range}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Round-Trip Light Time:</ion-col>
      <ion-col>{{target | roundTrip}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>ANTENNA</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Name:</ion-col>
          <ion-col>{{dish?.friendlyName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>AZIMUTH:</ion-col>
          <ion-col>{{dish?.azimuthAngle}} deg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>ELEVATION:</ion-col>
          <ion-col>{{dish?.elevationAngle}} deg</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>WIND SPEED:</ion-col>
          <ion-col>{{dish?.windSpeed}} km/hr</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Up Signal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Source</ion-col>
          <ion-col>{{dish?.upSignal.spacecraft}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Type</ion-col>
          <ion-col>{{dish?.upSignal.signalType}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Data Rate</ion-col>
          <ion-col>{{dish?.upSignal.dataRate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Frequency</ion-col>
          <ion-col>{{dish?.upSignal.frequency}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Power Transmitted</ion-col>
          <ion-col>{{dish?.upSignal.power}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Down Signal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Source</ion-col>
          <ion-col>{{downSignal?.spacecraft}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Type</ion-col>
          <ion-col>{{downSignal?.signalType}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Data Rate</ion-col>
          <ion-col>{{downSignal?.dataRate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Frequency</ion-col>
          <ion-col>{{downSignal?.frequency}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Power Received</ion-col>
          <ion-col>{{downSignal?.power}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>